spring:
  application:
    name: backend
  profiles:
    active: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/digiticket
    username: digiticket_user
    password: digiticket123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    defer-datasource-initialization: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080

jwt:
  secret: maCleSecreteTresLongueEtSecuriseePourLeProjetDigiTicket2024SuperSecuriseeAvecAuMoins64Caracteres
  expiration: 86400000

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    try-it-out-enabled: true
    operations-sorter: method
    tags-sorter: alpha
  default-produces-media-type: application/json
  default-consumes-media-type: application/json
  write-only-properties: false
  show-actuator: false

